<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="shortcut icon" href="/public/images/favicon.png" type="image/x-icon">
</head>

<body>

    <header>
        <div class="logo">
            <div class="logotype">
                <span class="material-symbols-outlined"
                    style="font-size: 70px; color: white; text-shadow: 0 0 5px #fff;">
                    event_note
                </span>
            </div>

            <div class="title">
                <a href="/">Notes</a>
            </div>

            <div class="temperature" id="temperature">

            </div>
        </div>

        <div class="navbar">
            <div class="sign-up">
                <a href="/signup">Sign Up</a>
            </div>
            <div class="sign-in">
                <a href="/signin">Sign In</a>
            </div>
        </div>
    </header>

    <div class="welcome-text">
        <p>Hello <span id="username">
                <%= username %>
            </span>!</p>
    </div>

    <div class="notes-container">
        <div class="form">
            <div class="heading">
                <input type="text" name="heading" id="title" placeholder="Task title">
            </div>

            <div class="description">
                <input type="text" name="description" id="desc" placeholder="Description">
            </div>

            <div class="deadline">
                <label for="">Deadline Time</label>
                <input type="datetime-local" name="deadline" id="dl">
            </div>

            <div class="image-file">
                <label for="">Image {optional}</label>
                <input type="file" name="note_img" id="note_img" accept="image/*">
            </div>

            <div class="create-btn">
                <button onclick="addNote()">Create Note</button>
            </div>

        </div>

    </div>


    <div class="notes">

    </div>

    <!-- MODAL  -->
    <div class="modal fade" id="edit_note-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Update Note</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form autocomplete="off">
                        <div class="mb-3 mt-2">
                            <label class="mb-2">Note title</label>
                            <input type="text" class="form-control" id="new_title" placeholder="Title">
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="mb-2">Description</label>
                            <input type="text" class="form-control" id="new_description" placeholder="Title">
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="mb-2">Deadline Time</label>
                            <input type="datetime-local" name="deadline" id="new_deadline">
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="mb-2">Image(optional)</label>
                            <input type="file" name="new_note_img" id="new_note_img" accept="image/*">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="update_note_btn" class="btn btn-primary px-md-4"
                        onclick="updateNote()">Update</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var note_id;
        $(document).ready(() => {
            showNotes();
            getWeather();
        })

        function addNote() {
            let title = $('#title').val();
            let description = $('#desc').val();
            let dl = $('#dl').val();
            let note_img = $('#note_img')[0].files[0];

            const formData = new FormData();
            formData.append('title', title);
            formData.append('description', description);
            formData.append('deadline', dl);
            formData.append('note_img', note_img);

            $.ajax({
                url: '/notes/add',
                method: 'post',
                contentType: false,
                processData: false,
                data: formData,
                success: function (r) {
                    if (r.r) {
                        alert('success!')
                        window.location.reload()
                    } else {
                        alert('error!')
                    }
                }
            })
        }

        function showNotes() {
            $.ajax({
                url: '/notes/get',
                method: 'get',
                success: function (r) {
                    var notes = r
                    console.log(r)
                    notes.forEach(note => {
                        var noteDiv = `
                        <div class="note">
                            <h1>${note.title}</h1>
                            <p>${note.description}</p>
                            <h4>${note.deadline}</h4>
                            <img src="${note.note_img}" width="500">
                            <div class='note-buttons'>
                                <button class="update-btn" onclick="showUpdateNoteModal('${note.note_id}')">Update</button>
                                <button class="delete-btn"onclick="deleteNote('${note.note_id}')">Delete Task</button>
                            </div>
                        </div>
                        `
                        $('.notes').append(noteDiv);
                    });
                }
            })
        }

        function updateNote() {
            let new_title = $('#new_title').val();
            let new_description = $('#new_description').val();
            let new_deadline = $('#new_deadline').val();
            let new_note_img = $('#new_note_img')[0].files[0];

            const formData = new FormData();
            formData.append('new_title', new_title);
            formData.append('new_description', new_description);
            formData.append('new_deadline', new_deadline);
            formData.append('note_img', new_note_img);
            formData.append('note_id', note_id);

            $.ajax({    
                url: '/notes/update',
                method: 'post',
                contentType: false,
                processData: false,
                data: formData,
                success: function (r) {
                    if (r.r) {
                        alert('successfully updated!');
                        window.location.reload();
                    } else {
                        alert('error');
                    }
                }
            });
        }

        function deleteNote(note_id) {
            $.ajax(
                {
                    "url": "/notes/delete",
                    "method": "POST",
                    data: {
                        note_id: note_id
                    },
                    success: function (r) {
                        if (r.r) {
                            alert('success')
                            window.location.reload()
                        } else {
                            alert('error')
                        }
                    }
                },
            )
        }

        function showUpdateNoteModal(selected_note_id) {
            note_id = selected_note_id
            $('#edit_note-modal').modal('show')
        }

        function getWeather() {
            $.ajax({
                url: '/weather/get',
                method: 'get',
                data: {
                    city: sessionStorage.getItem('city')
                },
                success: function (r) {
                    console.log(r);
                    var weather = r;
                    var weatherDiv = `
                            <div> 
                                <p>t: ${weather.temperature}℃</p>
                            </div>
                            <div> 
                                <p>Feels like: ${weather.feels}℃</p>
                            </div>
                        `
                    $('.temperature').append(weatherDiv);
                }
            })
        }

    </script>
</body>

</html>